@charset "UTF-8";
body {
    width: 100%;
    height: 100%;
    color: #262626;
    background-color: #FAFAFA;
}

#content_con {
    display: flex;
    justify-content: center;
    width: 100%;
}

#write_con {
    width: 1000px;
}

#top_menu {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
}


/* .tab_menu {
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 54px;
    text-align: center;
} */

.tab_menu:nth-of-type(3) {
    border: none;
}

.upload {
    width: 540px;
    border: 1px solid #C7C7C7;
    background-color: white;
    margin-left: 229px;
}

.story_img_con {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.image {
    width: 100%;
}

.cate_mine {
    color: #C7C7C7;
    cursor: pointer;
}

.cate_1 {
    height: 53px;
    line-height: 53px;
    font-size: 12px;
    float: left;
}

.cate_con {
    float: left;
    margin-top: 20px;
    margin-right: 5px;
}

.category {
    float: right;
}

.upload_id {
    width: 505px;
    height: 25px;
    padding: 10px 15px 10px 20px;
    font-size: 13px;
    line-height: 25px;
    border-bottom: 1px solid #C7C7C7;
}

.form_up {
    padding: 0px 20px 0px 20px;
}

.b_content {
    width: 500px;
    height: 80px;
    padding: 0px;
    border: none;
    margin-top: 10px;
    outline: none;
    resize: none;
}

.image_icon {
    font-size: 24px;
    color: #8E8E8E;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.hashtag_con {
    border-top: 1px Dashed #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
}

#filter_con {
    border-bottom: 1px solid #C7C7C7;
    width: 500px;
    display: flex;
    justify-content: center;
}

.h_tag {
    width: 500px;
    padding: 0px;
    border: none;
    height: 26px;
    padding: 10px 0px 10px 0px;
    outline: none;
}

.btn {
    height: 30px;
    border: none;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(56, 151, 240);
    outline: none;
    font-size: 13px;
}

.btn2 {
    height: 30px;
    border: none;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
    font-size: 13px;
}

a {
    text-decoration: none;
}


/*   .backto_main {
    float: left;
} */

.upload_post {
    float: right;
}

#webcamBtn {
    float: right;
}

#canvas1 {
    border: 1px solid #C7C7C7;
}

#down_con {
    width: 500px;
    height: 55px;
}

#canvas_down {
    float: right;
    line-height: 30px;
}