body {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 4;
    border-bottom: 1px solid #C7C7C7;
    background-color: white;
    color: #262626;
}

#big_con {
    width: 1000px;
}

#header_con {
    height: 54px;
    background-color: white;
}

#alert_con {
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 54px;
    z-index: 4;
    display: none;
}

#alert_con>div {
    width: 1000px;
}

#chk_my_follower {
    float: right;
    width: 500px;
    height: 81px;
    overflow: auto;
    background-color: white;
    border: 1px solid #C7C7C7;
}

#search {
    width: 215px;
    height: 28px;
    margin-top: 13px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #C7C7C7;
}

.fo_con {
    float: left;
    margin-left: 16px;
    margin-top: 11px;
}

.fo_photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.fo_id {
    width: 44px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
    color: #C7C7C7;
}

#header_left {
    width: 392.5px;
    height: 36px;
    margin-top: 9px;
    float: left;
}

#fix_logo {
    width: 103px;
    height: 29px;
    background-color: coral;
    margin-top: 7px;
    cursor: pointer;
}

#header_right {
    width: 392.5px;
    height: 22px;
    float: right;
    margin-top: 16px;
}

#header_icon_con {
    height: 100%;
    width: 198px;
    padding: 0px 0px 0px 24px;
    float: right;
    display: flex;
    justify-content: space-between;
}

.fix_icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

#forheader {
    width: 100%;
    height: 84px;
}