@charset "UTF-8";
body {
    width: 100%;
    height: 100%;
    color: #262626;
    background-color: #FAFAFA;
}

#story_con {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 900px;
}

#story_big_con {
    width: 1000px;
    max-height: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#show_story {
    max-width: 1000px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#story {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
}

.story_photo_con {
    width: 1000px;
    height: 900px;
}

.photo {
    width: 450px;
    margin-left: 25px;
}

.story_id {
    height: 32px;
    width: 100%;
    line-height: 32px;
    font-size: 14px;
}

#send_big_con {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 4;
    height: 64px;
}

#send_con {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.message {
    height: 44px;
    margin-top: 10px;
    width: 80%;
    outline: none;
    box-sizing: border-box;
}

.send {
    height: 44px;
    margin-top: 10px;
    outline: none;
    box-sizing: border-box;
}

.hashtag_con {
    margin-top: 20px;
    border-top: 1px Dashed #C7C7C7;
}

.h_tag {
    width: 500px;
    padding: 0px;
    border: none;
    height: 40px;
    padding: 10px 0px 10px 0px;
    outline: none;
}

.btn {
    height: 30px;
    border: none;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(56, 151, 240);
    outline: none;
    font-size: 13px;
}

.form_up {
    padding: 0px 20px 0px 20px;
}

label {
    cursor: pointer;
}

.iicon {
    height: 100%;
    width: 20px;
}

.upload {
    width: 540px;
    border: 1px solid #C7C7C7;
    background-color: white;
    margin-left: 229px;
}

.upload_id {
    width: 505px;
    height: 25px;
    padding: 10px 15px 10px 20px;
    font-size: 13px;
    line-height: 25px;
    border-bottom: 1px solid #C7C7C7;
}

.story_img_con {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.image {
    width: 100%;
}

.forflex {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.stcon {
    width: 540px;
    border: 1px solid #C7C7C7;
    background-color: white;
}

label {
    cursor: pointer;
}

.hprophoto {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    cursor: pointer;
}

.sproid {
    line-height: 25px;
    height: 25px;
    margin-left: 12px;
    float: left;
    cursor: pointer;
}