@charset "UTF-8";

body {
	color: #262626;
	background-color: #FAFAFA;
}


#mManage {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

#mManage_box {
	width: 1000px;
	background-color: white;
}

#mM_title {
	padding: 20px 16px 20px 16px;
	width: 966px;
	height: 20px;
	color: #999999;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid #C7C7C7;
	text-align: left;
}

#mM_con {
	width: 998px;
	height: 650px;
	border: 1px solid #C7C7C7;
	border-top: none;
}

#menu {
	float: left;
	width: 260px;
	margin: 0 auto;
}

#menulist {
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	width: 260px;
	border-right: 1px solid #C7C7C7;
	height: 650px;
}

#menulist>li {
	width: 228px;
	height: 21px;
	padding: 16px 16px 16px 16px;
	font-size: 14px;
	line-height: 21px;
	cursor: pointer;
	text-align: left;
}

#menulist>li>a {
	color: black;
	text-decoration: none;
}

#menulist>li:hover {
	background-color: #F6F6F6;
	border-left: 2px solid #6782B4;
}

#contentmanage {
	display: inline-block;
	width: 705px;
	margin: 0 auto;
}

.tit {
	color: rgb(119, 117, 117);
	font-size: 20px;
	padding-top: 25px;
	padding-left: 30px;
	font-size: 20px;
}

#tb_box {
	padding: 0px 0px 0px 30px;
}

#mM_table {
	width: 100%;
	margin-bottom: 20px;
}

#table_top {
	line-height: 45px;
	vertical-align: middle;
	border-bottom: 1px solid #C7C7C7;
}

#table_top td {
	padding: 0 20px;
	vertical-align: middle;
}

.table_header {
	color: rgb(68, 67, 67);
	font-size: 14px;
	line-height: 27px;
	border-bottom: 1px solid #C7C7C7;
	vertical-align: middle;
}

.table_body {
	font-size: 14px;
	line-height: 27px;
	border-bottom: 1px solid #C7C7C7;
	vertical-align: middle;
}

.table_body_td td {
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #C7C7C7;
}

.table_bottom {
	line-height: 50px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #000;
}

a.moveid {
	color: rgb(119, 117, 117);
}

a:hover {
	cursor: pointer;
}
.btn-delete{
	font-size:11px;
	text-align: center;
	padding: 3px 10px;
	border: 1px solid rgba(172, 167, 167, 0.849);
	border-radius: 7px;
	background-color: rgba(172, 167, 167, 0.849);
	color: #fff;
}
.btn-action {
	text-align: center;
	padding: 3px 10px;
	border: 1px solid #6782B4;
	border-radius: 3px;
	background-color: #6782B4;
	color: #fff;
}