@charset "UTF-8";
body {
    width: 100%;
    height: 100%;
    color: #262626;
    background-color: #FAFAFA;
    font-family: 'Noto Sans KR', sans-serif;
}

#content_con {
    display: flex;
    justify-content: center;
    width: 100%;
}

#out_big_con {
    width: 926px;
    height: 800px;
    border: 1px solid #C7C7C7;
    padding: 32px 40px 0px 32px;
}

#out_title {
    margin-bottom: 25px;
    font-size: 36px;
}

#ask_again {
    font-size: 14px;
    color: #222222;
    line-height: 20px;
    margin-bottom: 10px;
}

#rs,
#chkps,
#chkdate,
#chkdatee {
    width: 926px;
    height: 60px;
}

#out_sub,
#pswd {
    margin-top: 40px;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    width: 330px;
    float: left;
}

#o_reason,
#pw,
#pchk {
    margin-top: 40px;
    float: left;
}

#ask,
#dates,
#dates2 {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(63, 114, 155);
    text-decoration: none;
    width: 926px;
    margin-bottom: 40px;
}

#for_flex {
    display: flex;
    justify-content: center;
}

#sub {
    margin-top: 20px;
}