<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BsnBoard">
	<resultMap type="BsnBoard" id="resultBsnBoard">
		<id property="m_id" column="m_id"/>
		<result property="bb_id" column="bb_id"/>
		<result property="bb_name" column="bb_name"/>
		<result property="bb_info" column="bb_info"/>
		<result property="bb_price" column="bb_price"/>
		<result property="bb_option1" column="bb_option1"/>
		<result property="bb_option2" column="bb_option2"/>
		<result property="bb_option3" column="bb_option3"/>
		<result property="bb_option4" column="bb_option4"/>
		<result property="bb_type" column="bb_type"/>
		<result property="bb_topid" column="bb_topid"/>
		<result property="bb_date" column="bb_date"/>
		<result property="bb_img1" column="bb_img1"/>
		<result property="bb_img2" column="bb_img2"/>
		<result property="bb_img3" column="bb_img3"/>
		<result property="bb_img4" column="bb_img4"/>
		<result property="bb_img5" column="bb_img5"/>
		<result property="bb_img6" column="bb_img6"/>
		<result property="bb_img7" column="bb_img7"/>
		<result property="bb_img8" column="bb_img8"/>
		<result property="bb_img9" column="bb_img9"/>
		<result property="bb_img10" column="bb_img10"/>
		<result property="m_img" column="m_img"/>
		<result property="h_tag" column="h_tag"/>
		<result property="bb_like" column="bb_like"/>
		<result property="c_name" column="c_name"/>
	</resultMap>
	
	<!-- 게시물 수 -->
	<select id="bsnListCount" parameterType="string" resultType="int">
		select count(*) from businessboard where m_id=#{m_id} and bb_type='B'
	</select>
	
	<!-- 게시물 목록 -->
	<select id="bsnSelectListAll" parameterType="string" resultType="arraylist" resultMap="resultBsnBoard">
		select bb.*, bba.*, nvl(cnt, 0) bb_like from 
			(select bb1.*, nvl(cnt, 0) bbrcnt from 
				(select * from businessboard) bb1 full outer join 
					(select count(*) cnt, bb_topid from businessboard where not(bb_topid is null) group by bb_topid) bb2 
					on bb1.bb_id=bb2.bb_topid 
				where bb_type='B' and m_id=#{m_id}) bb join 
				businessboardadd bba on bb.bb_id=bba.bb_id full outer join 
					(SELECT count(*) cnt, bb_id FROM bblike group by bb_id) bl on bb.bb_id=bl.bb_id
    	where m_id=#{m_id} order by bb_date desc
	</select>
	<!-- 게시물 목록(텍스트) -->
	<select id="bsnSelectList" resultType="arraylist" resultMap="resultBsnBoard">
		select * from businessboard
	</select>
	<!-- 게시물 목록(이미지) -->
	<select id="bsnAddSelectList" resultType="BsnBoardAdd" resultMap="resultBsnBoard">
		select * from businessboardadd
	</select>
	
	<!-- 게시물 상세(전체) -->
	<select id="bsnSelectOne" parameterType="string" resultType="BsnBoard">
		select bbr.*, bba.*, nvl(cnt, 0) bb_like from (select bb.*, m_img from businessboard bb join member m on bb.m_id=m.m_id where bb_type='B' and bb_id=#{bb_id}) bbr 
    		left outer join (select count(*) cnt, bb_id from bblike group by bb_id) bl on bbr.bb_id=bl.bb_id
            left outer join businessboardadd bba on bbr.bb_id=bba.bb_id
	</select>
	<!-- 게시물 상세(텍스트) -->
	<select id="bsnTextSelectOne" parameterType="string" resultType="BsnBoard">
		select * from businessboard where bb_id=#{bb_id}
	</select>
	<!-- 게시물 상세(이미지) -->
	<select id="bsnAddSelectOne" parameterType="string" resultType="BsnBoard">
		select * from businessboardadd where bb_id=#{bb_id}
	</select>
	<!-- 게시물 상세(해시태그) -->
	<select id="bsnTagSelectOne" parameterType="string" resultType="arraylist"  resultMap="resultBsnBoard">
		select * from businesshashtag where bb_id=#{bb_id}
	</select>
	
	<!-- 게시물 등록(텍스트) -->
	<insert id="insertBsnBoard" parameterType="BsnBoard" flushCache="true" statementType="PREPARED">
		insert into businessboard values(
			'BB'||TO_CHAR(SYSDATE,'RRMMDD')||LPAD(BSNBOARD_SEQ.NEXTVAL,3,'0'), #{m_id},
			#{bb_name}, #{bb_info}, #{bb_price}, #{bb_option1}, #{bb_option2}, #{bb_option3}, #{bb_option4},
			#{bb_type}, #{bb_topid}, sysdate, #{c_name}
		)
	</insert>
	<!-- 게시물 등록(이미지) -->
	<insert id="insertBsnBoardAdd" parameterType="BsnBoard" flushCache="true" statementType="PREPARED">
		insert into businessboardadd values(
			'BB'||TO_CHAR(SYSDATE,'RRMMDD')||LPAD((BSNBOARD_SEQ.CURRVAL),3,'0'), #{bb_img1}, #{bb_img2}, #{bb_img3}, #{bb_img4}, 
			#{bb_img5}, #{bb_img6}, #{bb_img7}, #{bb_img8}, #{bb_img9}, #{bb_img10}
		)
	</insert>
	
	<!-- 게시물 수정(텍스트) -->
	<update id="updateBsnBoard" parameterType="BsnBoard" flushCache="true" statementType="PREPARED">
		update businessboard set bb_name=#{bb_name}, bb_info=#{bb_info}, bb_price=#{bb_price}, bb_option1=#{bb_option1}, bb_option2=#{bb_option2}, 
			bb_option3=#{bb_option3}, bb_option4=#{bb_option4}, c_name=#{c_name}
		where bb_id=#{bb_id}
	</update>
	<!-- 게시물 수정(이미지) -->
	<update id="updateBsnBoardAdd" parameterType="BsnBoard" flushCache="true" statementType="PREPARED">
		update businessboardAdd set bb_img1=#{bb_img1}, bb_img2=#{bb_img2}, bb_img3=#{bb_img3}, 
			bb_img4=#{bb_img4}, bb_img5=#{bb_img5}, bb_img6=#{bb_img6}, bb_img7=#{bb_img7}, bb_img8=#{bb_img8}, bb_img9=#{bb_img9}, bb_img10=#{bb_img10}
		where bb_id=#{bb_id}
	</update>
	
	<!-- 게시물 삭제(텍스트) -->
	<delete id="deleteBsnBoard" parameterType="BsnBoard" flushCache="true" statementType="PREPARED">
		delete from businessboard where bb_id=#{bb_id}
	</delete>
	<!-- 게시물 삭제(이미지) -->
	<delete id="deleteBsnBoardAdd" parameterType="string" flushCache="true" statementType="PREPARED">
		delete from businessboardAdd where bb_id=#{bb_id}
	</delete>
	
	<!-- 해쉬태그 저장 -->
	<insert id="saveBsnTag" parameterType="BsnBoard" flushCache="true" statementType="PREPARED">
		insert into businesshashtag values('BB'||TO_CHAR(SYSDATE,'RRMMDD')||LPAD((BSNBOARD_SEQ.CURRVAL),3,'0'), #{h_tag})
	</insert>
	
	
	<!-- 장바구니 저장 -->
	<insert id="addToCart" parameterType="BsnBoard" flushCache="true" statementType="PREPARED">
		insert into shoppingbasket values(#{m_id}, #{bb_id}, sysdate)
	</insert>
	
	
	<!-- 카테고리 목록 -->
	<select id="categoryList" parameterType="string" resultType="arraylist" resultMap="resultBsnBoard">
		select * from category where m_id=#{m_id}
	</select>
	
	
	<!-- 게시물 좋아요 체크 -->
	<select id="checkBb_like" parameterType="BsnBoard" resultType="BsnBoard">
		select * from bblike where m_id=#{m_id} and bb_id=#{bb_id}
	</select>
	
	<!-- 계정 팔로우 체크 -->
	<select id="checkFollow" parameterType="BsnBoard" resultType="BsnBoard">
		select m_id1 m_id from follow where m_id1=#{my_name} and m_id2=#{m_id}
	</select>
	
	<!-- 계정 팔로우 -->
	<insert id="follow" parameterType="BsnBoard" flushCache="true" statementType="PREPARED">
		insert into follow values(#{my_name}, #{m_id}, sysdate)
	</insert>
	
	<!-- 계정 언팔로 -->
	<delete id="unFollow" parameterType="BsnBoard" flushCache="true" statementType="PREPARED">
		delete from follow where m_id1=#{my_name} and m_id2=#{m_id}
	</delete>
</mapper>



















