<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mFollowVO">
	<resultMap type="mFollowVO" id="mFollowMap">
		<result property="m_id2" column="m_id2" />
	</resultMap>
	
	<!-- 팔로잉 목록 -->
	<select id="showFollowing" parameterType="hashmap" resultType="arraylist" resultMap="mFollowMap">
		select m_id2 from Follow where m_id1 = #{m_id1} and m_id2 like #{m_id2}
	</select>
</mapper>