<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mMemberVO">
	<resultMap type="mMemberVO" id="mManageMap">
		<id property="m_id" column="m_id" />
		<result property="m_pw" column="m_pw" />
		<result property="m_name" column="m_name" />
		<result property="m_intro" column="m_intro" />
		<result property="m_email" column="m_email" />
		<result property="m_addr1" column="m_addr1" />
		<result property="m_addr2" column="m_addr2" />
		<result property="m_addr3" column="m_addr3" />
		<result property="m_phone" column="m_phone" />
		<result property="m_birth" column="m_birth" />
		<result property="m_img" column="m_img" />
		<result property="m_usage" column="m_usage" />
		<result property="m_status" column="m_status" />
		<result property="m_activity" column="m_activity" />
		<result property="m_lastact" column="m_lastact" />
		<result property="m_language" column="m_language" />
		<result property="m_joindate" column="m_joindate" />
	</resultMap>
	<!-- 프로필 조회 -->
	<select id="showProfile" parameterType="string"
		resultType="mMemberVO">
		select * from member
		where m_id = #{m_id}
	</select>
	<!-- 이메일 조회 -->
	<select id="checkEmail" parameterType="string"
		resultType="mMemberVO">
		select m_email from member
		where m_email = #{m_email}
	</select>
	
	<!-- 프로필 수정 -->
	<update id="updateProfile" parameterType="mMemberVO"
		flushCache="true">
		update member set
		m_name=#{m_name},
		m_id=#{m_id},
		m_phone=#{m_phone},
		m_email=#{m_email},
		m_birth=#{m_birth},
		m_addr1=#{m_addr1},
		m_addr2=#{m_addr2},
		m_addr3=#{m_addr3},
		m_intro=#{m_intro}
		where
		m_id=#{m_id}
	</update>
	
		<!-- 프로필사진 수정 -->
	<update id="updateProfileImg" parameterType="String"
		flushCache="true">
		update member set
		m_img = #{m_img}
		where
		m_id=#{m_id}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="changepw" parameterType="HashMap"
		flushCache="true">
		update member set
		m_pw=#{m_pw},
		m_status=#{m_status}
		where
		m_id=#{m_id}
	</update>
	<!-- 구매목록 조회 -->
	<!-- 좋아요 목록 조회 -->
	<!-- 비즈니스 계정 변경 -->
</mapper>
