<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mManageOrderVO">
	<resultMap type="mManageOrderVO" id="mManageOrderMap">
	<id property="seller" column="seller"/>
	<result property="bb_id" column="bb_id"/>
	<result property="m_id" column="m_id"/>
	<result property="od_date" column="od_date"/>
	<result property="od_price" column="od_price"/>
	<result property="od_amount" column="od_amount"/>
	<result property="od_options" column="od_options"/>
	<result property="od_price" column="od_price"/>
	<result property="od_name" column="od_name"/>
	<result property="od_phone" column="od_phone"/>
	<result property="od_addr1" column="od_addr1"/>
	<result property="od_addr2" column="od_addr2"/>
	<result property="od_addr3" column="od_addr3"/>
	<result property="od_status" column="od_status"/>
	</resultMap>
		
	<!-- 주문 관리(비즈니스) -->
	<select id="manageOrderList" parameterType="String" resultType="mManageOrderVO" resultMap="mManageOrderMap">
	select bb.m_id as seller, od.*
	from orderdetail od, businessboard bb
	where od.bb_id = bb.bb_id and bb.m_id=#{m_id}
	</select>
</mapper>