<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ReportMemberManage">
	<resultMap type="ReportMemberManage" id="resultReportMManage">
		<!-- property에는 vo의 필드명, column에는 db table의 컬럼명 -->
		<id property="m_id1" column="m_id1" />
		<result property="m_id2" column="m_id2" />
		<result property="rm_reason" column="rm_reason" />
		<result property="rm_date" column="rm_date" />
	</resultMap>

	<!-- 전체 신고 수 조회 -->
	<select id="listCount" resultType="int">
		select count(*) from ReportMember
	</select>
	
	<!-- 전체 신고 조회 -->
	<select id="selectList" resultType="arraylist"
		resultMap="resultReportMManage">
		select * from ReportMember
	</select>

	<!-- 검색한 회원 조회 -->
	<select id="searchList" parameterType="string"
		resultType="arraylist" resultMap="resultReportMManage">
		SELECT * FROM ReportMember
		WHERE m_id1 LIKE '%'|| #{keyword} ||'%'
		ORDER BY m_id1 DESC
	</select>

</mapper>