<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.project.tain.membermanage.model.vo.mMemberVO" alias="mMemberVO"/>
		<typeAlias type="com.project.tain.membermanage.model.vo.mCartVO" alias="mCartVO"/>
		<typeAlias type="com.project.tain.membermanage.model.vo.mCartVO" alias="mFollowVO"/>
		<typeAlias type="com.project.tain.membermanage.model.vo.mLikeVO" alias="mLikeVO"/>
		<typeAlias type="com.project.tain.membermanage.model.vo.mOrderVO" alias="mOrderVO"/>
		<typeAlias type="com.project.tain.businessmembermanage.model.vo.bMemberVO" alias="bMemberVO"/>
		<typeAlias type="com.project.tain.businessmembermanage.model.vo.bAdVO" alias="bAdVO"/>
		<typeAlias type="com.project.tain.businessmembermanage.model.vo.bCateVO" alias="bCateVO"/>
		<typeAlias type="com.project.tain.businessmembermanage.model.vo.bOrderVO" alias="bOrderVO"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/mManage-mapper.xml" />
		<mapper resource="mappers/mCart-mapper.xml" />
		<mapper resource="mappers/mFollow-mapper.xml" />
		<mapper resource="mappers/mLike-mapper.xml" />
		<mapper resource="mappers/mOrder-mapper.xml" />
		<mapper resource="mappers/bOrder-mapper.xml" />
		<mapper resource="mappers/bMember-mapper.xml" />
		<mapper resource="mappers/bAd-mapper.xml" />
		<mapper resource="mappers/bCate-mapper.xml" />
	</mappers>
</configuration>
